<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Certification for fitness trainers: ultimate trainer certification, nutritional science certification and supplements science certification">
    <meta name="keywords" content="Nepal fitness, trainer certification, trainer course, fitness degree, gym trainer">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nepal Council of Exercise | Trainer Certification</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,500,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">

    <script src="js/jquery-3.2.1.min.js"></script>
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <!-- Header Section Begin -->
       <header class="header-section">
        <div class="container-fluid">
            <div class="inner-header">
                <div class="row">
                    <div class="col-md-3">
                        <div class="logo d-none d-sm-block">
                            <a href="/index"><img src="img/logo.png" alt=""></a>
                        </div>
                        <div class="logo d-none-block d-sm-none">
                            <a href="/index"><img src="img/logo1.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <nav class="main-menu mobile-menu">
                            <ul>
                                <li><a href="/index">Home</a></li>
                                <li><a href="/about-us">About us</a></li>
                                <li><a href="/classes">Courses</a></li>
                                <li><a href="/contact">Contact</a></li>
                                <li><a class="active" href="/tools">Tools</a></li>
                                <li class="phone-num"><i class="fa fa-phone"></i><span>+977 9855022260</span></li>
                            </ul>
                        </nav>
                        <div id="mobile-menu-wrap"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Header End -->
    <!-- Hero Section Begin -->
    <div class="hero-section set-bg" data-setbg="img/classes-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hero-text">
                        <h1> Classes</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Section End -->
    <!-- Classes Section Begin -->
    <div class="classes-section spad">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="single-services">
                        <i class="flaticon-004-dumbbell"></i>
                        <h4><a href='#basic'>Ultimate Trainer</a></h4>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-services">
                        <i class="flaticon-045-fitness"></i>
                        <h4><a href='#nutrition'>Nutrition Science</a></h4>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-services">
                        <i class="flaticon-033-pump"></i>
                        <h4><a href='#steroid'>Supplements Science</a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Classes Section End -->

    <!-- WOD Section Begin basic-->
    <section class="wod-section spad" id="basic">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2><i class="flaticon-004-dumbbell"></i> Ultimate Trainer Certification</h2>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="single-wod-item">
                        <span>Section 1</span>
                        <h4>Exercise Science</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-wod-item">
                        <span>Section 2</span>
                        <h4>Screening & Evaluation</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-wod-item">
                        <span>Section 3</span>
                        <h4>Principle & Method of Training</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-wod-item">
                        <span>Section 4</span>
                        <h4>Individualized Program Design</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-wod-item">
                        <span>Section 5</span>
                        <h4>Leadership & Implementation</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-wod-item">
                        <span>Section 6</span>
                        <h4>Injury Prevention & First Aid</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-wod-item">
                        <span>Section 7</span>
                        <h4>Legal Guidelines & Responsibilities</h4>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- WOD Section End basic-->
    <!-- Call To Section Begin basic-->
    <section class="callto-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="callto-text">
                        <h2>Join Ultimate Trainer Certification</h2>
                        <p><b>Course : 30 Days Duration | 3 Hour Each</b>
                        <br>Batches starting soon in Nepal Council of Exercise.</p>
                        <a href="index.html#registration" class="primary-btn callto-btn">Enroll Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Call To Section End basic-->

    <!-- WOD Section Begin basic-->
    <section class="wod-section spad" id="nutrition">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2><i class="flaticon-045-fitness"></i> Nutrition Science Certification</h2>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="single-wod-item">
                        <span>Section 1</span>
                        <h4>Human Nutrition & Importance</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-wod-item">
                        <span>Section 2</span>
                        <h4>Human Digestive system</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-wod-item">
                        <span>Section 3</span>
                        <h4>Introduction to Macronutrient & Metabolism</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-wod-item">
                        <span>Section 4</span>
                        <h4>Introduction to Micronutrient</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-wod-item">
                        <span>Section 5</span>
                        <h4>The Glycerol & Insulin </h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-wod-item">
                        <span>Section 6</span>
                        <h4>Macronutrient Intake for Physical Activity</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-wod-item">
                        <span>Section 7</span>
                        <h4>Fluid Balance and Hydration</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-wod-item">
                        <span>Section 8</span>
                        <h4>Weight Management: Beyond Balancing Calories</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- WOD Section End basic-->
    <!-- Call To Section Begin basic-->
    <section class="callto-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="callto-text">
                        <h2>Join Nutrition Science Certification</h2>
                        <p><b>Course : 15 Days Duration | 3 Hour Each</b>
                        <br>Batches starting soon in Nepal Council of Exercise.</p>
                        <a href="index.html#registration" class="primary-btn callto-btn">Enroll Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Call To Section End basic-->

    <!-- WOD Section Begin basic-->
    <section class="wod-section spad" id="steroid">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2><i class="flaticon-033-pump"></i> Supplements Science Certification</h2>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="single-wod-item">
                        <span>Section 1</span>
                        <h4>Industrial Nature & Psychology of the Supplement</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-wod-item">
                        <span>Section 2</span>
                        <h4>Specialized Nutritional Strategies & Supplements</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-wod-item">
                        <span>Section 3</span>
                        <h4>Building Muscle Mass: Physiology, Nutrition, & Supplementation</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-wod-item">
                        <span>Section 4</span>
                        <h4>Weight Loss Nutritional Supplements</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-wod-item">
                        <span>Section 5</span>
                        <h4>Effective Nutritional Supplement Combinations</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-wod-item">
                        <span>Section 6</span>
                        <h4>Nutritional Supplements for Strength and Power Athletes</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-wod-item">
                        <span>Section 7</span>
                        <h4>Nutritional Supplements for Endurance Athletes</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-wod-item">
                        <span>Section 8</span>
                        <h4>Nutritional Supplements to Enhance Recovery</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-wod-item">
                        <span>Section 9</span>
                        <h4>Carbohydrate Utilisation and Disposal in Strength/Power Training and Sports</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-wod-item">
                        <span>Section 10</span>
                        <h4>Reducing Supplement risk</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-wod-item">
                        <span>Section 11</span>
                        <h4>Nutrition Profiles</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-wod-item">
                        <span>Section 12</span>
                        <h4>The Ergogenic Effects of Nutrition on Body</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- WOD Section End basic-->
    <!-- Call To Section Begin basic-->
    <section class="callto-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="callto-text">
                        <h2>Join Supplements Science Certification</h2>
                        <p><b>Course : 15 Days Duration | 3 Hour Each</b>
                        <br>Batches starting soon in Nepal Council of Exercise.</p>
                        <a href="index.html#registration" class="primary-btn callto-btn">Enroll Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Call To Section End basic-->
    <!-- Map Section Begin -->
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3531.7749948444985!2d85.31166561438502!3d27.724232631358035!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb191e21db40a9%3A0x451d2800f55c2053!2sCity%20Fitness%20%26%20Gym!5e0!3m2!1sen!2sin!4v1609939762522!5m2!1sen!2sin" width="800" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

        <div class="map-address">
            <div class="map-address-text">
                <ul>
                    <li>City Fitness & Gym, <br />Samakhusi Marg, Kathmandu 44600</li>
                    <li>+977 9855022260<br /> train@ncefitness.com</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Map Section End -->
    <!-- Footer Section Begin -->
    <footer class="footer-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-text">
                        <div class="reserved">
                            Nepal Council of Exercise | 
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                        </div>
                        <div class="social-links">
                            <a href="https://www.facebook.com/Nep.CoE"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.instagram.com/nep.coe"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Search model -->
	<div class="search-model">
		<div class="h-100 d-flex align-items-center justify-content-center">
			<div class="search-close-switch">+</div>
			<form class="search-model-form">
				<input type="text" id="search-input" placeholder="Search here.....">
			</form>
		</div>
	</div>
    <!-- Search model end -->
    
    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/circle-progress.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>